@model MVC4.data.Airline

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Airline</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AirlineCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AirlineCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AvailableNames)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AvailableNames)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
